# wandb 
**/wandb/
*.wandb
**/artifacts/
artifacts/

# data
**/data/
**/iframe_figures/
**/results/
**/saved_models/
**/checkpoints/
**/out/
**/outputs/
**/multirun/

# Python
*.pyc
__pycache__/
venv/
lop/
*.egg-info/
dist/
build/
*.egg
# ignore .bak files
*.bak

# Jupyter Lab
.ipynb_checkpoints/
.DS_Store

notebooks/results_plasticity