# wandb 
**/wandb/
*.wandb
**/artifacts/
artifacts/

# data
**/data/
**/iframe_figures/
**/results/
**/saved_models/
**/checkpoints/
**/out/
**/outputs/

# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/
*.egg

# Jupyter Lab
.ipynb_checkpoints/
.DS_Store
